* {
    box-sizing: border-box;
}
html {
    background-color: $gray-light;
}
body {
    font-family: helvetica, verdana, arial, sans-serif;
    font-color: $gray;
    margin-top:60px;
}

.align-center {
    text-align: center;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

@mixin sprite($src, $width, $height, $row, $col) {
    $left: $width - ( $width * $col );
    $top:  $width - ( $height * $row);
    background: transparent url( $src ) no-repeat;
    background-position:  $left#{"px"} $top#{"px"};
    width: $width#{"px"};
    height: $height#{"px"};
}

@mixin labelbox($bg-color, $font-color) {
    background-color: $bg-color;
    color: $font-color;
    font-size: .9em;
    padding: 8px 23px;
    border:1px solid $red-dark;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
