div.content {
    margin: 40px 20px 0 20px;

    .restaurant-name {
        font-size: 18px;
        color: $gray-dark;
    }
}

.meals {
    .meal {
        margin-bottom: 20px;

        .meal-header {
            position: relative;
        }

        .meal-image {
            width: 100%;
        }

        .price-container {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            text-align: center;
        }

        .price {
            @include labelbox($blue-light, $white);
            display: inline-block;
            border: none;
            line-height: 30px;
            padding: 0px 15px;
            font-style: italic;
        }

        .meal-card-wrapper {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .meal-card {
            @include opacity(.8);
            width: 100%;
            display: block;
        }

        .meal-name {
            text-align: center;
            line-height:30px;
            color: $gray-dark;
            min-height: 40px;
        }

        .meal-footer {
            padding: 20px 15px;
            background-color: $white;
        }

        .meal-description {
           color: $gray-dark; 
           font-size: .9em;
        }

        .title-container {
            background-color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.8);
        }

        .tags-container {
            position:absolute;
            bottom: 2px;
            left: 50%;

            .tags {
                position:relative;
                bottom: 0;
                left: -50%;
            }
        }

        .tags li {
            text-indent: -99999em;
            width: 0px;
            height: 0px;
            float: left;

            &.charcoal {
                @include sprite('/images/tag-sprite.png', 27, 26, 1, 1);
            }
            &.cheese {
                @include sprite('/images/tag-sprite.png', 27, 26, 2, 1);
            }
            &.chicken {
                @include sprite('/images/tag-sprite.png', 27, 26, 1, 2);
            }
            &.grilled {
                @include sprite('/images/tag-sprite.png', 27, 26, 2, 2);
            }
            &.high-protein {
                @include sprite('/images/tag-sprite.png', 27, 26, 3, 1);
            }
            &.lamb {
                @include sprite('/images/tag-sprite.png', 27, 26, 3, 2);
            }
            &.pasta {
                @include sprite('/images/tag-sprite.png', 27, 26, 4, 1);
            }
            &.peanut {
                @include sprite('/images/tag-sprite.png', 27, 26, 4, 2);
            }
            &.pork {
                @include sprite('/images/tag-sprite.png', 27, 26, 5, 1);
            }
            &.seafood {
                @include sprite('/images/tag-sprite.png', 27, 26, 5, 2);
            }
            &.snack {
                @include sprite('/images/tag-sprite.png', 27, 26, 6, 1);
            }
            &.spicy {
                @include sprite('/images/tag-sprite.png', 27, 26, 6, 2);
            }
            &.starter {
                @include sprite('/images/tag-sprite.png', 27, 26, 7, 1);
            }
            &.sweet {
                @include sprite('/images/tag-sprite.png', 27, 26, 7, 2);
            }
            &.vegetarian {
                @include sprite('/images/tag-sprite.png', 27, 26, 8, 1);
            }
        }

        .add-item-order {
            @include labelbox($blue-light, $white);
            width: 100%;
            font-style: italic;
            border: none;
            margin-top:15px;
        }
    }
}
