header.topbar {
    background-color: $red;
    padding: 12px 0;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;


    // Order empty msg
    .empty-msg span{
        @include labelbox($red-light, $white);
    }

    .order-summary {
        margin:0 auto;
    }


    // Summary view - dish type boxes
    .order-summary .dish-type, .total-price-order,
    .order-details-footer .dish-type {
        margin-left:8px;
        > span {
            @include labelbox($red-light, #8f0600);
            padding: 8px 0;
            font-style: italic;
            font-size: .8em;
            width: 60px;
        }
    }


    // Summary view - total-price-order box (overwrote some boxes generic styles)
    .total-price-order {
        margin-right: 20px;
    }

    .total-price-order span {
        color: white;
        padding: 8px 10px;
        width: auto;
        font-style: normal;
    }
}


// Order details
header.topbar.details {
    padding: 0;
    
    .order-details-footer .dish-type {
        display: none;
    }

    .order-details {
        color: white;
        padding: 20px;
        border-bottom: 1px solid #d94f4f;
        height: 400px;
        max-height: 100%;

        .order-summary {
            margin-top:30px;
        }

        .restaurant-info {
            margin-left: 0;
        }

        // Override default boxes style
        .restaurant-info, ul.dishes, ul.order-summary li, ul.order-summary li span.dish-type {
            display: block;
            float: none;
            text-align: left;
            padding: 0;
            margin: 0;
        }


        .restaurant-info, ul.dishes {
            margin:8px 0 12px 0;
        }


        ul.order-summary li span {
            background: none;
            border: none;
        }

        ul.order-summary li ul.dishes li {
            height: 52px;
            border:1px solid $red-dark;
            background: $red-light;
            @include border-radius(3px);
            padding: 14px 0 10px 0;
            position: relative;
            display: table;
            width: 100%;

            div.qty-container {
                background-color: $red-dark;
                width: 20px;
                position: absolute;
                top: 0;
                bottom: 0;
                height:100%;

                div {
                    display: table;
                    vertical-align:middle;
                    height: 100%;

                    div {
                        display: table-cell;
                        text-align: center;
                        span {
                            font-size: .8em;
                        }
                    }
                }

                span.qty, button.add, button.remove {
                    width: 20px;
                    margin:0;
                    padding:0;
                    background: none;
                    border: none;
                    color: $white;
                    font-style: normal;
                }
                
                button.add, button.remove {
                    color: $red-darker;
                    cursor: pointer;
                }
            }

            span.name, span.price, span.extra {
                color: $white;
                padding: 0;
                text-align: left;
                font-size: .9em;
                font-style: normal;
                font-weight: bold;
            }

            p {
                margin-left: 30px;
                float: left;
                width:65%;
                text-align: left;
                line-height: 1em;
            }

            span.name {
                width: 100%;
                display: block;
            }

            span.extra {
                font-size: .8em;
                color: $red-darker;
                font-weight: normal;
            }

            span.price {
                float: right;
                text-align: right;
                margin-right: 10px;
                width: auto;
            }
        }
    }

    .confirm-order {
        @include labelbox($white, $red-light);
        font-style: italic;
        margin-left: 20px;
        font-style: italic;
        color: $red-light;
    }

    .order-details-footer {
        margin-top: 15px;
        margin-bottom: 15px;
        float: left;
        width: 100%;
    }
}


header.topbar {
    .empty-msg, .order-summary ul.dishes, .confirm-order {
        display: none;
    }

    .restaurant-info {
        display: block;
        margin-left: -100%;
        @include single-transition(margin-left, 1s, ease, 0s);
        color: white;
    }

    .restaurant-info h2 {
        font-size: 1.5em;
        font-weight: bold;
    }

    .restaurant-info span {
        font-size: .9em;
        font-style: italic;
    }

    .order-details {
        height: 0;
        overflow: auto;
        @include single-transition(height, 1s, ease, 0s);
    }

    .order-details-footer {
        margin: 0;
        float: none;
    }

    .order-summary {
        display: block;
    }
}

header.topbar.empty {
    .empty-msg {
        display:block;
    }
    .order-summary, .total-price-order {
        display: none;
    }
}
