<h1 class="restaurant-name">Your Delicious Restaurant</h1>
<ul class="meals">
    <li class="meal" ng-repeat="meal in menu.meals">
        <div class="meal-header">
            <div class="price-container">
                <p class="price">£{{meal.price}}</p>
            </div>
            <img class="meal-image" ng-src="{{meal.primaryImageUrl}}">


            <div class="meal-card-wrapper">
                <img class="meal-card" ng-src="/images/meal-card-curve.svg">
                <div class="title-container">
                    <h4 class="meal-name">{{meal.name}}</h4>
                    <img class="meal-card" ng-src="/images/meal-card-curve.svg">
                </div>

                <div class="tags-container">
                    <ul class="tags">
                        <li ng-repeat="tag in meal.tags" class="{{tag}}">{{tag}}<li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="meal-footer">
            <p class="meal-description">{{meal.description}}</p>
            <div class="align-center">
                <button class="add-item-order" ng-click="order.add(meal)">Add To Your Order</button>
            </div>
        </div>
    </li>
</ul>
