<div class="empty-msg align-center">
    <span>It's time to order some delicious food</span>
</div>

<div class="order-details">
    <div class="restaurant-info">
        <h2>Your Order</h2>
        <span>A Delicious Restaurant</span>
    </div>

    <ul class="order-summary">
        <li class="push-left box dish-type align-center" ng-repeat="kind in ['main', 'other']">
            <span ng-if="order.meals[kind].length" class="dish-type">{{order.meals[kind].length}} {{kind}}{{order.meals[kind].length > 1 ? 's' : ''}}</span>
            <ul class="dishes" ng-if="order.meals[kind].length">
                <li ng-repeat="meal in order.meals[kind]">
                    <div class="qty-container">
                        <div>
                            <div>
                                <button class="add" ng-click="order.updateQty(meal, 1); $event.stopPropagation();">+</button>
                                <span class="qty">{{meal.qty}}</span>
                                <button class="remove" ng-click="order.updateQty(meal, -1); $event.stopPropagation();">-</button>
                            </div>
                        </div>
                    </div>
                    <p>
                        <span class="name">{{meal.name}}</span>
                        <span class="extra">+ Chilli</span>
                    </p>
                    <span class="price">£{{(meal.price*meal.qty).toFixed(2)}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>


<div class="order-details-footer">
    <button class="push-left align-center box confirm-order" ng-click="order.checkout();">
        <span>Confirm Your Order</span>
    </button>
    <div class="push-left box dish-type align-center" ng-repeat="kind in ['main', 'other']">
        <span ng-if="order.meals[kind].length" class="dish-type">{{order.meals[kind].length}} {{kind}}{{order.meals[kind].length > 1 ? 's' : ''}}</span>
    </div>
    <div class="push-right align-center box total-price-order">
        <span>£{{order.getTotal()}}</span>
    </div>
</div>
